# Python cache
__pycache__/

# Datasets / results
Satellite_Datasets/
Result/
*.pt
*.npy
*.pth
*.ckpt
*.onnx
*.zip
*.tar
*.tar.gz

# Logs / outputs
logs/
runs/
outputs/

# IDE / environment
.vscode/
.env
.venv/
.idea/
